*{
    font-family: Arial, Helvetica, sans-serif
}
/* .........................................OTHERS.................................. */

.div {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top:2vh;
        transform: translate(-50%,-50%);
        text-align:center;
    }
    .othersCol {
         border: 1px solid black;
        margin-bottom: 5vh;
        margin-right: 2rem;
        
        text-align: center;
        height: 5vh;
        width: 20vw;
        padding:2rem;
        margin-top:0;
        padding-bottom:3rem;
        padding-top:1rem;
        /* // backgroundColor:'whitesmoke'; */
        box-shadow:3px 3px 4px 3px grey;
    }
    .headings {
        color: black;
    }
    
   
   
    
    
/* ....................................OTHERS END.................................... */

/* ...................................HOME STARTS ...................................*/
.innerDiv {
    /* // backgroundColor:'tomato', */

    position: absolute;
    top: 35%;
    left: 30% !important;
    transform: translate(-30%,-35%);

}
 .iconsDiv{
  right:20%;
  position: absolute;
}
.secondHomeDiv{
    position: absolute;
    bottom: 20%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-20%);
}
 
 .heading_name {

    font-size: 5vw;
    color: whitesmoke;
    text-align: left;
    margin: 0;
}
.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            font-size: 3vw;
             color: white;
             
             
}
 @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  
  
.heading_name_3 {
    font-size: 2vw;
    color: whitesmoke
}
.icons {
    width: 3vw;
    margin-top: 2vh;
    margin-right: 2vw;
    display: inline-table;
}
.last_home_div{
    background-color: #17c9ce;
    height: 10vh;
    width: 100vw;
    position: absolute;
    bottom: 2%;
    transform: translateY(-2%);
    /* text-align: center; */
    display: flex;
    /* display: inline-block; */
    
}
.my_email{
    font-size: 2rem;
    color: white;
    text-indent:20vw !important ;
    margin-top: 1rem;
    /* font-weight: bolder; */
}


/* .........................................HOME END.......................................... */



/* ..........................................ABOUT.......................................... */
.firstDiv{
    /* margin-right: 40px; */
    width: 100%;
    text-align: center;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            font-size: 4rem ;
            font-weight:bold
}
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
.secondDiv  {
    /* background-color:tomato; */
    width: 70vw;
    height: 70vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top:10vh;
    background: cover;
}

  
.outerDiv {
    display: flex ;
    padding-left: 5vw;

    text-align: center;

}
.para{
            text-align: justify;
    font-weight:bold
}
  

/* ..........................................ABOUT END.......................................... */

/* ............................................SKILLS STARTS..................................... */


.secondDivSkills{
    margin-top: 10vh;
}

.smallDivsSkills {
    width: 5%;
    margin: 0.4rem;
    text-align: center;
}
.colSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skillhead{
    font-size: 3rem
}
.skills_name{
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes skills_name {
  0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-800px);
          transform: translateZ(-800px);
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0;
  }
  100% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
  }
  }
  @keyframes skills_name {
  0% {
  letter-spacing: -0.5em;
  -webkit-transform: translateZ(-800px);
          transform: translateZ(-800px);
  -webkit-filter: blur(12px);
          filter: blur(12px);
  opacity: 0;
  }
  100% {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
  }
  }


/* ............................................SKILLS ENDS...................................... */

/* .....................................CONTACT ME............................................. */

.upperRowCont{
    text-align:center;
}
.upperDivCont{
    text-align:center;
    font-size:2rem;
}
.iconsCont {
    width: 1px;
    height:auto;
    margin-top: 2vh;
    margin-right: 2vw;
}
.paraCont{
    font-size:1.5rem;
}


/* ......................................CONTACT ME ENDS ......................................... */


/* ..........................EDUCATION..........................................*/

.eduDiv {
    display: flex;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-35%);
}

.eduCol {
    margin-bottom: 2rem;
    margin-right: 2rem;
    border-radius: 10%,;
    text-align: right;
    height: 5vh;
    width: 20vw;
    padding:2rem;
    /* // backgroundColor:'whitesmoke' */
    box-shadow:3px 3px 4px 3px grey;

}
.eduHeadings {
    color: black;
    margin:0;
}
.schoolLogo{
    width:35%;
    height:0;
    /* // marginTop:'1rem' */
    /* // position:'absolute', */
}

/* ............................PROJECTS....................... */
.projectDiv {
    display: flex;
    margin-top:10vh;
    position: absolute;
    left: 50%;
    /* top: 10%; */
    transform: translate(-50%);
    
    text-align: center;
}
.projectCol {
    margin-bottom: 2rem;
    /* margin-right: 2rem; */
    margin:0;
    padding: 0;
    text-align: center;
    /* background-color: whitesmoke; */
    height: 20vh;
    width: 25vw;
    padding: 2rem;
    padding-bottom: 5rem;
    box-shadow: 3px 3px 4px 3px grey;
    margin-top:0;
    padding-top:0;
}
.projectHeadings {
    color :black;

}
.lastCol{
    margin-bottom: 2rem;
    margin-right: 2rem;
    
    text-align: center;
    position: absolute;
    height: 25vh;
    width: 60vw;
    padding: 2rem;
    left: 10vw;
    box-shadow: 3px 3px 4px 3px grey;
    margin-top:0;
    padding-top:0;
}
.Social{
    /* // height:'20vh', */
    width:15vw
}




/* ......................PROJECT END............................... */
/* ........................NAVBAR.............................. */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 7vh;
    width: 100%;
    background-color: #1C2833;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    border: solid 1px #17c9ce;
    margin: 0.5vw;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    
    float: right;
    font-size: 18px;

  }
  
  .nav > .nav-links > a {
    display: inline-block;
    border: solid 1px #17c9ce;
    margin:0.5vw;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color:tomato;
  }
  
  .nav > #nav-check {
    display: none;
  }
  

/* .......................NAVBAR END.......................... */
